include mixins.pug
html
    head
        +stylesheets
    body
        include utils/header.pug
        .container-fluid.mt-6
            .container
                each post in postList
                    .row: .col
                                a.post-title(href=`/p/${post.permalink}`): h2= post.title
                                p.post-meta.pb-3.border-bottom= post.postDate
                                div!= post.entry
                if totalPage > 1           
                    .row.justify-content-center
                        if pageNum > 1
                            a.btn.btn-secondary.btn-sm.page-num-button(href=`/?page=${pageNum-1}`) Önceki
                        .col-auto.font-weight-bold.d-flex.align-items-center #{pageNum}
                        if pageNum < totalPage
                            a.btn.btn-secondary.btn-sm.page-num-button(href=`/?page=${pageNum+1}`) Sonraki 
        include utils/footer.pug
        +javascriptLibs